<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRMSuite">
  <test thread-count="5" name="LoginAndHomeTest">
    <classes>
      <class name="pom.qa.testCases.HomePageTest"/>
      <class name="pom.qa.testCases.LoginPageTest"/>
      <class name="pom.base.BaseTest"/>
    </classes>
  </test> <!-- LoginAndHomeTest -->
</suite> <!-- CRMSuite -->
